@page
@model Projekt_Opgave.Pages.CreateItemModel
@{
}

<h1>Create Fabulous New Item</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="@Model.Item.Id" class="control-lable"></label>
        <input asp-for="@Model.Item.Id" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Item.Name" class="control-lable"></label>
        <input asp-for="@Model.Item.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Item.Price" class="control-lable"></label>
        <input asp-for="@Model.Item.Price" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Item.Description" class="control-lable"></label>
        <input asp-for="@Model.Item.Description" class="form-control" />
    </div>
    <br>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
